<h1>Reactive</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">  <!-- erstelle nicht automatisch ein Form sondern weise myForm (raactive) hinzu -->
  <div formGroupName="userData">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             formControlName="username">  <!-- formControlName brauche ich für synchronisierung (reactive) -->
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email">
    </div>
    <!--<div *ngIf="!myForm.controls['email'].valid">Ungültige Mailadresse</div>-->
    <!--<div *ngIf="!myForm.get('email').valid">Ungültige Mailadresse</div>-->
    <div *ngIf="!myForm.get(['userData', 'email']).valid">Ungültige Mailadresse</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           formControlName="password">
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
             formControlName="gender"
             [value]="g"
      >{{ g }}
    </label>
  </div>
  <div formArrayName="hobbies"> <!-- bezieht sich nicht auf property, sondern index von element -->
    <h3>Hobbies</h3>
    <div class="form-group" *ngFor="let hobby of myForm.get('hobbies').controls; let i = index">
      <input type="text" class="form-control" formControlName="{{ i }}">
    </div>
  </div>
  <button type="button" class="btn btn-default" (click)="onAddHobby()">Neues Hobby hinzufügen</button>
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>
